<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>struts2</filter-name>
        <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>struts2</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <ejb-ref>
        <ejb-ref-name>PersonaBean</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <remote>com.RecetarioWeb.Beans.PersonaBeanRemote</remote>
    </ejb-ref>
    <ejb-ref>
        <ejb-ref-name>PersonaBean1</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <remote>com.RecetarioWeb.Beans.PersonaBeanRemote</remote>
    </ejb-ref>
    <ejb-ref>
        <ejb-ref-name>UsuarioBean</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <remote>com.RecetarioWeb.Beans.UsuarioBeanRemote</remote>
    </ejb-ref>
    <ejb-ref>
        <ejb-ref-name>CetagoriaBean</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <remote>com.RecetarioWeb.Beans.CetagoriaBeanRemote</remote>
    </ejb-ref>
    <ejb-ref>
        <ejb-ref-name>EmpresaBean</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <remote>com.RecetarioWeb.Beans.EmpresaBeanRemote</remote>
    </ejb-ref>
    <ejb-ref>
        <ejb-ref-name>RecetaBean</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <remote>com.RecetarioWeb.Beans.RecetaBeanRemote</remote>
    </ejb-ref>
    <ejb-ref>
        <ejb-ref-name>TipBean</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <remote>com.RecetarioWeb.Beans.TipBeanRemote</remote>
    </ejb-ref>
    <ejb-ref>
        <ejb-ref-name>RecetaBean1</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <remote>com.RecetarioWeb.Beans.RecetaBeanRemote</remote>
    </ejb-ref>
    <ejb-ref>
        <ejb-ref-name>TipBean1</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <remote>com.RecetarioWeb.Beans.TipBeanRemote</remote>
    </ejb-ref>
    <ejb-ref>
        <ejb-ref-name>EmpresaBean1</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <remote>com.RecetarioWeb.Beans.EmpresaBeanRemote</remote>
    </ejb-ref>
    <ejb-ref>
        <ejb-ref-name>EmpresaBean2</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <remote>com.RecetarioWeb.Beans.EmpresaBeanRemote</remote>
    </ejb-ref>
    <ejb-ref>
        <ejb-ref-name>PersonaBean2</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <remote>com.RecetarioWeb.Beans.PersonaBeanRemote</remote>
    </ejb-ref>
    <ejb-ref>
        <ejb-ref-name>CetagoriaBean1</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <remote>com.RecetarioWeb.Beans.CetagoriaBeanRemote</remote>
    </ejb-ref>
    <ejb-ref>
        <ejb-ref-name>PersonaBean3</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <remote>com.RecetarioWeb.Beans.PersonaBeanRemote</remote>
    </ejb-ref>
    <ejb-ref>
        <ejb-ref-name>PersonaBean4</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <remote>com.RecetarioWeb.Beans.PersonaBeanRemote</remote>
    </ejb-ref>
    <ejb-ref>
        <ejb-ref-name>PersonaBean5</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <remote>com.RecetarioWeb.Beans.PersonaBeanRemote</remote>
    </ejb-ref>
    <ejb-ref>
        <ejb-ref-name>RecetaBean2</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <remote>com.RecetarioWeb.Beans.RecetaBeanRemote</remote>
    </ejb-ref>
    <ejb-ref>
        <ejb-ref-name>PersonaBean6</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <remote>com.RecetarioWeb.Beans.PersonaBeanRemote</remote>
    </ejb-ref>
    <ejb-ref>
        <ejb-ref-name>TipBean2</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <remote>com.RecetarioWeb.Beans.TipBeanRemote</remote>
    </ejb-ref>
    <ejb-ref>
        <ejb-ref-name>PersonaBean7</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <remote>com.RecetarioWeb.Beans.PersonaBeanRemote</remote>
    </ejb-ref>
    <ejb-ref>
        <ejb-ref-name>MembreciaBean</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <remote>com.RecetarioWeb.Beans.MembreciaBeanRemote</remote>
    </ejb-ref>
    <ejb-ref>
        <ejb-ref-name>PersonaBean8</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <remote>com.RecetarioWeb.Beans.PersonaBeanRemote</remote>
    </ejb-ref>
    <ejb-ref>
        <ejb-ref-name>PersonaBean9</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <remote>com.RecetarioWeb.Beans.PersonaBeanRemote</remote>
    </ejb-ref>
    <ejb-ref>
        <ejb-ref-name>EmpresaBean3</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <remote>com.RecetarioWeb.Beans.EmpresaBeanRemote</remote>
    </ejb-ref>
    <ejb-ref>
        <ejb-ref-name>CetagoriaBean2</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <remote>com.RecetarioWeb.Beans.CetagoriaBeanRemote</remote>
    </ejb-ref>
    <ejb-ref>
        <ejb-ref-name>ComentarioBean</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <remote>com.RecetarioWeb.Beans.ComentarioBeanRemote</remote>
    </ejb-ref>
</web-app>
